@{
    ViewData["Title"] = "Confirmación de Correo Electrónico";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Gracias por confirmar tu correo electrónico. Por favor <a asp-controller="Account" asp-action="Login">haz clic aquí para iniciar sesión</a>.
    </p>
</div>
