@model alumnus.Models.Resources.Resources
@{
    ViewData["Title"] = "Modificar enlaces";
}

<div class="row">
    <div class="col-md-12">
        <h3>Editar Registro</h3>
        <p>
            Ingrese los datos del enlace o archivo multimedia que desea publicar y elija el tipo (enlace de interés, noticia o archivo para descargar)
        </p>
    </div>
</div>

<div class="row">
    <div id="edit-resources-fail" class="hidden alert alert-danger alert-dismissible" role="alert">
        <strong>Error!</strong> Por favor verifica que los datos sean correctos y vuelve a intentarlo.
    </div>
    <div id="edit-resources-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> El registro ha sido modificado
    </div>
    <div id="remove-resources-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> El registro ha sido eliminado.
    </div>
    <form id="edit-resources-form" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Title">Título</label>
                <input asp-for="Title" class="form-control" placeholder="Ej. Requisitos para solicitud de Práctica..." />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Type">Tipo</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<alumnus.Models.Resources.TypeEnum>()" class="form-control">
                    <option selected="selected" value="">Selecciona una opción</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Url">URL</label>
                <input asp-for="Url" class="form-control" placeholder="http://ejemplo.com" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Description">Descripción del enlace o archivo</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input asp-for="Id" type="hidden" />
            <button type="submit" class="btn btn-success">Modificar</button>
            <button type="button" class="btn btn-danger" id="edit-resources-remove">Eliminar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/resources-edit-form-component.js" asp-append-version="true"></script>
    <script type="text/javascript">
        (function(){
            var form = ResourcesEditFormComponent();
            form.init(@Model.Id);
        })();
    </script>
}