@{
    ViewData["Title"] = "Recursos Multimedia";
}

<div class="row">
    <div class="col-md-12">
        <h3>Enlaces y Archivos de interés para alumnos</h3>
    </div>
</div>

<div class="row" style="margin-bottom:25px">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-controller="Resources" asp-action="New">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Agregar Registro
        </a>
    </div>
    <div class="col-md-3 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Enlaces de Interés</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Archivos</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Noticias de Interés</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Otros</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Pensum de la Carrera</h4>
                        <p class="list-group-item-text">Test</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>