@model alumnus.Models.Oportunities.Oportunities
@{
    ViewData["Title"] = "Modificar Registro de Trabajos y Anuncios";
}

<div class="row">
    <div class="col-md-12">
        <h3>Editar Registro</h3>
        <p>
            Ingrese los datos del anuncio que desea publicar sobre un trabajo, tema de EPS o una práctica supervisada
        </p>
    </div>
</div>

<div class="row">
    <div id="edit-oportunities-fail" class="hidden alert alert-danger alert-dismissible" role="alert">
        <strong>Error!</strong> Por favor verifica que los datos sean correctos y vuelve a intentarlo.
    </div>
    <div id="edit-oportunities-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> El registro ha sido modificado.
    </div>
    <div id="remove-oportunities-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> El registro ha sido eliminado.
    </div>
    <form id="edit-oportunities-form" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Title">Título</label>
                <input asp-for="Title" class="form-control" placeholder="Trabajo de Gerente de Región" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EndDate">Fecha de Finalización</label>
                <input asp-for="EndDate" class="form-control" placeholder="dia/mes/año" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Type">Tipo</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<alumnus.Models.Oportunities.TypeEnum>()" class="form-control">
                    <option selected="selected" value="">Selecciona una opción</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Description">Descripción del anuncio</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input asp-for="Id" type="hidden" />
            <button type="submit" class="btn btn-success">Modificar</button>
            <button type="button" class="btn btn-danger" id="edit-oportunities-remove">Eliminar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/oportunities-edit-form-component.js" asp-append-version="true"></script>
    <script type="text/javascript">
        (function(){
            var form = OportunitiesEditFormComponent();
            form.init(@Model.Id);
        })();
    </script>
}