@{
    ViewData["Title"] = "Sugerencias y Contacto";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
    </div>
</div>

<div class="row" style="margin-bottom:25px; margin-top:25px">
    <div id="email-suggestion-fail" class="hidden alert alert-danger alert-dismissible" role="alert">
        <strong>Error!</strong> Por favor verifica que tus datos sean correctos y vuelve a intentarlo.
    </div>
    <div id="email-suggestion-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> Muchas gracias, tu sugerencia ha sido enviada y nuestro equipo la revisará pronto.
    </div>
    <form id="email-suggestion-form" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label for="fullname">Nombre Completo</label>
                <input name="fullname" id="fullname" class="form-control" placeholder="Nombres y Apellidos" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input name="email" id="email" class="form-control" placeholder="ejemplo@dominio.com" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="message">Mensaje</label>
                <textarea name="message" id="message" class="form-control" placeholder="Detalla tu sugerencia aquí"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">Agregar</button>
        </div>
    </form>
</div>

<address>
    Calle Rodolfo Robles 29-99 Zona 1<br />
    Quetzaltenango, Quetzaltenango<br />
    <abbr title="Phone">P:</abbr>
    7873-0000
</address>

<address>
    <strong>General:</strong> <a href="mailto:ingenieria.cunoc@usac.edu.gt">ingenieria.cunoc@usac.edu.gt</a><br />
    <strong>Director de División:</strong> <a href="mailto:hernandez.victor@usac.edu.gt">hernandez.victor@usac.edu.gt</a><br />
    <strong>Secretaría de División:</strong> <a href="mailto:escobarpatty@hotmail.com">escobarpatty@hotmail.com</a>
</address>

@section Scripts {
    <script type="text/javascript">
        (function(){
            var contactForm = ContactFormController();
            contactForm.init();
        })();
    </script>
}