@{
    ViewData["Title"] = "Portal de Egresados";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bienvenido al Portal de Egresados de la Universidad San Carlos de Guatemala
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Encuentra Ofertas Laborales</h2>
        <ul>
            <li>Ofertas Laborales</li>
            <li>Trabajos de EPS</li>
            <li>Oportunidades para realizar Práctica Supervisada</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Archivos y Enlaces de Interés</h2>
        <ul>
            <li>Archivos y Documentos</li>
            <li>Enlaces de Interés</li>
            <li>Noticias Relacionadas</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Escríbenos tus Sugerencias</h2>
        <ul>
            <li>Escríbenos</li>
            <li>Ponte en Contacto</li>
            <li>Actualiza tus Datos</li>
        </ul>
    </div>
</div>
