@model alumnus.Models.Contacts.InviteViewModel
@{
    ViewData["Title"] = "Envío de Invitaciones";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"].</h2>
        <p>
            Escriba el mensaje que desea enviarle a los estudiantes y, a continuación, seleccione los alumnos.
        </p>
    </div>
</div>

<div class="row">
    @if(Model.Sent)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <strong>Éxito!</strong> El mensaje ha sido enviado.
        </div>
    }
    <form id="new-contacts-form" method="post" asp-controller="Contacts" asp-action="Invite">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Emails">Alumnos:</label>
                <select asp-for="Emails" asp-items="Model.Contacts" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Subject">Asunto del Correo:</label>
                <input asp-for="Subject" class="form-control" placeholder="Invitacion a Evento..." />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Message">Cuerpo del Mensaje:</label>
                <textarea asp-for="Message" rows="6" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" data-loading-text="Enviando...">Enviar</button>
        </div>
    </form>
</div>