@model alumnus.Models.Contacts.Contacts
@{
    ViewData["Title"] = "Registro de Alumno Egresado";
}

<div class="row">
    <div class="col-md-12">
        <h3>Nuevo Contacto</h3>
        <p>
            Ingrese los datos correspondientes del alumno egresado que desea registar al sistema
        </p>
    </div>
</div>

<div class="row">
    <div id="new-contacts-fail" class="hidden alert alert-danger alert-dismissible" role="alert">
        <strong>Error!</strong> Por favor verifica que los datos sean correctos y vuelve a intentarlo.
    </div>
    <div id="new-contacts-success" class="hidden alert alert-success alert-dismissible" role="alert">
        <strong>Éxito!</strong> El registro ha sido creado.
    </div>
    <form id="new-contacts-form" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirstName">Nombres</label>
                <input asp-for="FirstName" class="form-control" placeholder="Primer y segundo nombre" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="LastName">Apellidos</label>
                <input asp-for="LastName" class="form-control" placeholder="Apellidos" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Dpi">Número de DPI</label>
                <input asp-for="Dpi" class="form-control" placeholder="Dpi" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BirthDay">Fecha de Nacimiento</label>
                <input asp-for="BirthDay" class="form-control" placeholder="dia/mes/año" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Email">Correo electrónico</label>
                <input asp-for="Email" class="form-control" placeholder="ejemplo@dominio.com" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PhoneNumber">Número de Teléfono</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="5000-0000" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Collegiate">Número de Colegiado</label>
                <input asp-for="Collegiate" class="form-control" placeholder="2018-9001" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="GraduationDate">Fecha de Graduación</label>
                <input asp-for="GraduationDate" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CurrentDegree">Grado Académico Actual</label>
                <input asp-for="CurrentDegree" class="form-control" placeholder="MBA" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="OtherCourses">Otros Cursos</label>
                <input asp-for="OtherCourses" class="form-control" placeholder="PMI" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Address">Dirección de Residencia</label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CurrentJob">Trabajo Actual</label>
                <input asp-for="CurrentJob" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CurrentPosition">Puesto que Desempeña</label>
                <input asp-for="CurrentPosition" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" data-loading-text="Guardando...">Agregar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/contacts-new-form-component.js" asp-append-version="true"></script>
    <script type="text/javascript">
        (function(){
            var form = ContactsNewFormComponent();
            form.init();
        })();
    </script>
}